@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@background: #B0BEC5;
@fontColor: #424242;
@cardBackground: #F4F4F4;
@mainFont: Roboto;

@boxShadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

body {
    background: @background;
    font-family: @mainFont;
    font-size: 28px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemForm {
    margin: 10px;
}

.menu {
    border: 1px solid red;
    margin-top: 15px;
}

.list {
    color: @fontColor;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.card {
    background: @cardBackground;
    box-shadow: @boxShadow;
    display: flex;
    justify-content: center;
    width: 30vw;
    margin: 5px;
    list-style-type: none;
    border: 1px solid red;
}

.delete {
    color: black;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.completed {
    text-decoration: line-through;
}

input {
    background: transparent;
    border: none;
}

input:focus{
    outline: none;
}